$color-1 : #4CCAB2;
$color-2 : #27655A;
$color-3 : #543124;
$color-4 : #F7DD55;
$color-5 : #F5F2DF;
$primary : $color-3;
$secondary : $color-4;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.brandName{
    display: inline-block;
    margin-top: 25px;
    margin-left: 3px;
    color: $color-3;
    font-family: 'Satisfy', cursive;
    
}

.topDecor{
    height: 50%;
    width: 100%;
}

.carouselDiv{
    display: inline-block;
    height: 20%;
    width: 100vw;
   
}

img{
    display: inline-block;
    margin: auto;
  
}

.subBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // background-color: $color-1;
    
}

Button{
    display: inline-block;
    width: 200px;
    border: 2px solid black;
    
}

.btn:hover{
    background-color: $color-4;
}

.subHeads{
    color: $color-3;
    font-weight: 900;
}

.site{
    background-color: $color-5;
}

.cities{
    color: white;
    font-weight: 800;
    font-size: x-large;
   text-shadow: 1px 0px 1px black;
}

.head-align-middle{
    text-align: center;
}